<div class="app-component-viewer add-button">
  <form #componentForm="ngForm" (ngSubmit)="!componentForm.valid || saveOrUpdate()" novalidate>
    <div fxLayoutAlign="center center">
      <mat-card class="content-form container-field-button" fxFlex="90%">
        <mat-card-title>{{ 'label-employee-employeedata' | translate }}</mat-card-title>
        <div class="content-field">
          <div fxLayout="column" fxFlex="100%">

            <div fxLayoutGap="20px" fxLayout="row" fxFlex="100%" fxLayoutAlign="start center">
              <mat-form-field fxFlex="35%" fxFlex.xs="35%">
                <input matInput type="text"
                       id="employee-nome"
                       name="employee-nome"
                       [(ngModel)]="employee.name"
                       placeholder="{{'label-name' | translate}}">
              </mat-form-field>
              <mat-form-field fxFlex="15%" fxFlex.xs="15%">
                <input matInput type="text"
                       id="employee-cpf"
                       name="employee-cpf"
                       [(ngModel)]="employee.cpf"
                       placeholder="{{'label-cpf' | translate}}">
              </mat-form-field>
              <mat-form-field fxFlex="15%" fxFlex.xs="15%">
                <input type="text"
                       name="admission_date"
                       matInput
                       [matDatepicker]="validityFinalDate"
                       (click)="validityFinalDate.open()"
                       [(ngModel)]="employee.admission_date"
                       placeholder="{{'label-admission-date' | translate}}">
                <mat-datepicker-toggle matSuffix [for]="validityFinalDate"></mat-datepicker-toggle>
                <mat-datepicker #validityFinalDate></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="15%" fxFlex.xs="15%">
                <input type="text"
                       name="birth_date"
                       matInput
                       [matDatepicker]="validityFinal"
                       (click)="validityFinal.open()"
                       [(ngModel)]="employee.birth_date"
                       placeholder="{{'label-birth-date' | translate}}">
                <mat-datepicker-toggle matSuffix [for]="validityFinal"></mat-datepicker-toggle>
                <mat-datepicker #validityFinal></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="10%" fxFlex.xs="10%">
                <input matInput
                       type="text"
                       id="registration"
                       name="employee-register"
                       [(ngModel)]="employee.register"
                       placeholder="{{'label-register' | translate}}">
              </mat-form-field>

            </div>

            <div fxLayoutGap="20px" fxLayout="row" fxFlex="100%" fxLayoutAlign="start center">
              <mat-form-field fxFlex="50%">
                <mat-select name="types" placeholder="{{'label-employee-situation' | translate}}"
                            [(ngModel)]="employee.type_situation">
                  <mat-option *ngFor="let situation of type_situation" [value]="situation.value">
                    {{ situation.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="1 1 50%">
                <input matInput
                       type="text"
                       id="employee-department-name"
                       name="employee-department-name"
                       [(ngModel)]="employee.departmentDescription"
                       placeholder="{{'label-departament' | translate}}">
              </mat-form-field>

              <mat-form-field fxFlex="1 1 50%">
                <input matInput
                       type="text"
                       id="employee-occupation-name"
                       name="employee-occupation-name"
                       [(ngModel)]="employee.occupation"
                       placeholder="{{'label-occupation' | translate}}">
              </mat-form-field>

              <mat-form-field fxFlex="1 1 50%">
                <input matInput
                       type="text"
                       id="employee-shift-name"
                       name="employee-shift-name"
                       [(ngModel)]="employee.shift"
                       placeholder="{{'label-shift' | translate}}">
              </mat-form-field>

              <mat-form-field fxFlex="10%" fxFlex.xs="10%">
                <input matInput
                       type="text"
                       id="employee-leadership-id"
                       name="employee-leadership-id"
                       [(ngModel)]="employee.leadership_id"
                       placeholder="{{'label-leadership-id' | translate}}">
              </mat-form-field>

            </div>

            <div fxLayoutGap="20px" fxLayout="row" fxFlex="100%" fxLayoutAlign="start center">
              <mat-form-field fxFlex="1 1 50%">
                <input matInput
                       type="email"
                       id="employee-costCenter-email"
                       name="employee-costCenter-email"
                       [(ngModel)]="employee.email"
                       placeholder="{{'label-email' | translate}}">
              </mat-form-field>
            </div>
            <div fxLayoutGap="20px" fxLayout="row" fxFlex="100%" fxLayoutAlign="start center"
                 style="padding-bottom: 30px;">

              <div fxFlex="50%" class="button-biometrics" appShow [appNames]="['techffit']">
                <button class="mat-button form-bt instruction-bt" style="min-width: 300px;" type="button"
                        (click)="openSignatureDialog()">
                  <mat-icon>create</mat-icon>
                  <div class="text-employee-biometrics">{{ 'title-register-signature' | translate }}</div>
                </button>
              </div>

              <div fxFlex="50%" fxLayout="column" class="div-col-assignature">
                <label fxLayout="row" class="text-image">{{ 'label-signature' | translate }}</label>
                <div fxLayout="row" class="div-img-assignature" fxFlex="1 1 10%">
                  <div class='input-file-wrapper' *ngIf="!employee.signature">
                    <label for='input-add-file-employee'>
                      <mat-icon class="material-icons">insert_photo</mat-icon>
                    </label>
                    <input id='input-add-file-employee' type='file' ng2FileSelect
                           [uploader]="initUploaderImgEmployee()"/>
                  </div>
                  <div *ngIf="employee.signature" class="div-img-signature"
                       [ngStyle]="{'background-image':'url('+imagesInfo(employee.signature)+')','background-size':'cover'}">
                    <div class="div-actions-img" fxFill fxLayout="row" fxLayoutAlign="space-evenly center">
                      <mat-icon (click)="deleteImage(employee)" class="delete-img">delete</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxLayoutAlign="center center">
      <mat-card class="content-form container-field-button" fxFlex="90%">
        <mat-card-title>{{ 'label-employee-userdata' | translate }}</mat-card-title>
        <div class="content-field" fxLayout="column">
          <div fxLayoutGap="20px" fxLayout="row" fxFlex="100%">
            <mat-form-field fxFlex="1 1 45%">
              <input matInput type="text" id="user-login" name="user-login"
                     fxFill=""
                     maxlength="32"
                     [(ngModel)]="user.login"
                     placeholder="{{'label-login' | translate}}"
                     autocomplete="nope">
            </mat-form-field>
            <mat-form-field *ngIf="canChangeEmployeesPasswords" fxFlex="1 1 22%">
              <input [type]="hide ? 'password' : 'text'"
                     fxFill=""
                     matInput
                     id="user-password"
                     name="user-password"
                     maxlength="32"
                     [(ngModel)]="user.password"
                     placeholder="{{'label-password' | translate}}"
                     autocomplete="new-password">
              <mat-icon class="visiblity-password" matSuffix
                        (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}
              </mat-icon>
            </mat-form-field>
          </div>

          <div fxLayoutGap="20px" fxLayout="row" fxFlex="100%">

            <app-group-add-remove fxFlex="69%"
                                  [items]="user.group_list"
                                  [valuesAutoComplete]="groups"
                                  [descPlaceholder]="'label-assign-profile' | translate">
            </app-group-add-remove>
          </div>
        </div>
        <div class="button-biometrics">
          <button [disabled]="!(user && user.id && user.id > 1)" class="mat-button form-bt instruction-bt "
                  type="button"
                  (click)="openCreateDialog()">
            <mat-icon>fingerprint</mat-icon>
            <div class="text-employee-biometrics">{{ labelBiometry | translate }}</div>
          </button>
        </div>
      </mat-card>
    </div>
    <app-footer-basic [requeridForm]="!componentForm.valid" [urlCancel]="'/modules/employee'"></app-footer-basic>
  </form>
</div>
