<div fxLayout="column">
  <button mat-fab class="ic-action tf-bt-add" routerLink="../employee/{{employee}}">
    <mat-icon class="material-icons">add</mat-icon>
  </button>
  <h1 fxFlex="100%"  *ngIf="isDialog"  mat-dialog-title>{{getSubTitle()}}</h1>
<div class="app-component-viewer add-button">
  <form #componentForm="ngForm" (ngSubmit)="search()" novalidate *ngIf="!isDialog">
    <div fxLayoutAlign="center center">
       <mat-card class="mat-card-pesquisa" fxFlex="90%">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start">
          <div fxLayoutGap="20px" fxLayout.xs="column"  fxLayout.xm="column"  fxFlex="60%">
            <mat-form-field fxFlex="" fxFlex.xs="">
              <input matInput
                     type="text"
                     id="description_filter"
                     name="description_filter"
                     (input)="changeFieldEvent(componentForm.value.descriptionFilter)"
                     maxlength="30"
                     [(ngModel)]="descriptionFilter"
                     placeholder="{{'label-employee-search' | translate}}">
            </mat-form-field>
            <mat-form-field fxFlex="" fxFlex.xs="" >
              <input matInput
                     type="text"
                     id="const_description" name="const_description"
                     maxlength="40"
                     (ngModelChange)="changeFieldEvent($event)"
                     [(ngModel)]="fieldSearch"
                     [formControl]="departmentFormCtrl"
                     placeholder="{{'label-search-employee-departament' | translate}}"
                     [matAutocomplete]="autodescription">
            </mat-form-field>
             <mat-autocomplete #autodescription="matAutocomplete">
              <mat-option *ngFor="let item of filteredDepartment | async"  [value]="item.description">
                <span>{{ item.description }}</span>
              </mat-option>
            </mat-autocomplete>
          </div>

          <app-search-filter [isClearSeach]="isClearSeach" (clearFilterList)="clearFilter(componentForm)"></app-search-filter>
          <div class="button-seach">
            <input fxFlexFill="" #file (change)="fileChange($event)" style="display: none;"  accept=".csv"  type="file" id="myFileInput" />
            <button onclick="document.getElementById('myFileInput').click()"  class="mat-button instruction-bt" mat-button type="button">
              <i class="material-icons">get_app</i> Importar
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </form>

  <div  fxLayoutAlign="center center" >
    <div class="table-container" fxFlex="90%">
      <mat-table #table [dataSource]="dataSource" >
        <!-- code Column -->
        <ng-container matColumnDef="employee">
          <mat-header-cell *matHeaderCellDef fxFlex="30%"  >{{'title-employee' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="30%">{{element.name}} </mat-cell>
        </ng-container>
        <!-- Registration Column -->
        <ng-container matColumnDef="registration">
          <mat-header-cell *matHeaderCellDef fxFlex="10%">{{'label-register' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.register}} </mat-cell>
        </ng-container>
        <!-- Departament Column -->
        <ng-container matColumnDef="department">
          <mat-header-cell *matHeaderCellDef fxFlex="30%" >{{'label-departament' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.department.description}} </mat-cell>
        </ng-container>
        <!-- last_access Column -->
        <ng-container matColumnDef="last_access">
          <mat-header-cell *matHeaderCellDef fxFlex="10%"> {{'label-last-access' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%"> {{element.last_access | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
        <!-- last_access Column -->
        <ng-container matColumnDef="qty_evaluation">
          <mat-header-cell *matHeaderCellDef fxFlex="20%"> {{'label-qty_evaluation' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="20%"  align="center"> {{element.qty_evaluation}} </mat-cell>
        </ng-container>
        <!-- situation group -->
        <ng-container matColumnDef="group">
          <mat-header-cell *matHeaderCellDef fxFlex="10%" align="center"> {{'label-profile' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%" align="center">
            <div *ngIf="(element.user_obj)" >
                <span  *ngFor="let group of element.user_obj.group_list" >{{group.name}}
                </span>
            </div>
          </mat-cell>
        </ng-container>
        <!-- situation Column -->
        <ng-container matColumnDef="situation">
        <mat-header-cell *matHeaderCellDef fxFlex="10%" align="center"> {{'label-status' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10%" align="center"> {{element.situation}} </mat-cell>
      </ng-container>

        <!-- mais Column -->
        <ng-container matColumnDef="settings">
          <mat-header-cell *matHeaderCellDef  fxFlex="1 1 5%"></mat-header-cell>
          <mat-cell *matCellDef="let element"  fxFlex="1 1 5%" align="right">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="../employee/{{element.id}}">
                <span>{{'label-edit' | translate}} </span>
              </button>
              <button mat-menu-item (click)="delete(element)">
                <span>{{'label-delete' | translate}} </span>
              </button>
              <button mat-menu-item (click)="openDialog(element)">
                <span>{{'labe-alter-cpf' | translate}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row  *matHeaderRowDef=getDisplayedColumns()></mat-header-row>
        <mat-row  *matRowDef="let row; columns: getDisplayedColumns();" ></mat-row>
      </mat-table>
      <div class="mat-paginator not-register" [hidden]="paginator.length>0">{{'message-warning-register' | translate}} </div>
      <mat-paginator #paginator [hidden]="paginator.length==0"
                     [length]="paginator.length"
                     [pageIndex]="paginator.pageIndex"
                     [pageSize]="paginator.pageSize"
                     [pageSizeOptions]="paginator.pageSizeOptions"
                     (page)="pageEvent = $event; retrieve()">
      </mat-paginator>
    </div>
  </div>
</div>
  <div *ngIf="isDialog" fxFlex="100%" mat-dialog-actions fxLayoutAlign="end center">
    <button fxFlex="15%" (click)="closeModal()" mat-button>{{'label-bt-cancel' | translate}}</button>
  </div>
</div>
